[submodule "server"]
	path = server
	url = https://github.com/Ghenntoggy1/Erasmus_Hack
[submodule "client"]
	path = client
	url = https://github.com/Ghenntoggy1/epp-hack-front
[submodule "Erasmus_Hack"]
	path = Erasmus_Hack
	url = https://github.com/Ghenntoggy1/Erasmus_Hack
